#draggable_container {
    position: fixed;
    width:  100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

.draggable_handle {
    height: max-content;
    width:  max-content;
    background-color: black;
    color: wheat;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.2rem;
    cursor: grab;
}

.draggable_window {
    background-color: tan;
    border: 2px solid sienna;
    border-radius: 1rem;
    padding: 0.5rem;
    width: max-content;
    left: 0;
    top: 0;

    position: absolute;
    pointer-events: all;
}