


.body {
    margin:    20vw;
    margin-top: 5vh;
    padding: 2rem;
}
@media (orientation: portrait) {
    .body {
        margin:    10vw;
        margin-top: 5vh;
    }
}

h1 {
    margin-top: 0;
}

hr {
    margin-top:    2rem;
    margin-bottom: 2rem;
}

#pwin_gen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (orientation: landscape) {
    #pwin_gen>* {
        width: max-content;
    }
}

#pwin_gen>* {
    max-width: 100%;
}

.pwin_win {
    max-width: 50%;
}

.pwin_body {
    margin: 1rem;
}
